.bar {
  padding-top: 10px;
}

.place-img {
  width: 100%;
}

.link {
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 2em;
}

#title {
	font-size: 2em;
}

#del-btn {
  font-size: 1.5em;
}

#itin_link {
  color: white;
  font-size: 1em;
  margin-top: 5px;
  margin-left: 30px;
}

.itinerary-container {
  padding-top: 10px;
}

#status_text {
  display: inline-block;
  font-size: 1.3em;
}

#status {
  padding-top: 10px;
  text-align: center;
}

#maplink {
  font-size: 1.3em;
}
