container {
  width: 100%;
  height: 100%;
}

#place-img {
  width: 100%;
}

.review-row {
  padding-top: 25px;
}

.link {
	font-family: Helvetica, sans-serif;
	font-size: 2em;
}

#title {
	font-size: 2em;
}
