<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='itinerary.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
     integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
     crossorigin=""/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
     integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
     crossorigin=""></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='itinerary.js') }}"></script>

    <script>
      var itinerary = {{itinerary|tojson}}
    </script>
  </head>

  <body>

    <div class="container">
			<div class="row">
				<div class="col-md-3 text-left bar" id="title">
					Create SF Itinerary
				</div>
				<div class="col-md-2 text-center link bar">
					<a href="http://127.0.0.1:5000/">Map</a>
				</div>
        <div class="col-md-2 text-center link bar">
					<a href="http://127.0.0.1:5000/add_item">Add Place</a>
				</div>
				<div class="col-md-4 text-left link">
					<a id="itin_link" class="btn btn-success" href="http://127.0.0.1:5000/itinerary">Itinerary</a>
				</div>
			</div>
		</div>

    <div id="status"></div>

    <div class="container itinerary-container"></div>
      <ul id="sortable">
      </ul>

  </body>

</html>
